<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HelpTopicsPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HelpTopicsPlugin.Properties.Settings>
            <setting name="HelpDocumentationAllTopics" serializeAs="String">
                <value>allTopics.xml</value>
            </setting>
            <setting name="HelpDocumentationWebTocNew" serializeAs="String">
                <value>webTocNew.xml</value>
            </setting>
            <setting name="HelpDocumentationWebTocOld" serializeAs="String">
                <value>webToc.xml</value>
            </setting>
            <setting name="HelpDocumentationWebTOC" serializeAs="String">
                <value>http://www.commsvr.com/UAModelDesigner/WebTOC.xml</value>
            </setting>
            <setting name="SiteMapFile" serializeAs="String">
                <value>SiteMap.xml</value>
            </setting>
            <setting name="website" serializeAs="String">
                <value>http://www.commsvr.com/UAModelDesigner/Index.aspx</value>
            </setting>
        </HelpTopicsPlugin.Properties.Settings>
    </userSettings>
</configuration>